@import '../../sass/variables';
@import '../../sass/mixin';

@import '../../sass/section.scss';
@import '../../sass/link.scss';
@import '../../sass/container.scss';
@import '../../sass/arrow.scss';
@import '../../sass/contact-us.scss';
@import '../../sass/burger.scss';

.header {
  background-color: $accent-color;
  height: 100%;
  overflow: hidden;

  &__nav {
    @include on-mobile {
      display: none;
    }

    @include on-laptop {
      display: flex;
    }

    @include on-desktop {
      display: flex;
    }
  }

  &__item {
    gap: 22px;
    padding: 0;
    margin: 0;

    @include on-mobile {
      display: none;
    }

    @include on-laptop {
      display: flex;
    }

    @include on-desktop {
      display: flex;
    }
  }

  &__list {
    list-style: none;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    @include on-mobile {
      padding: 41px 0 0;
    }

    @include on-desktop {
      padding: 48px 0 0;
    }
  }

  &__logo {
    display: block;
    padding: 0;

    @include on-mobile {
      width: 162px;
      height: 35px;
    }

    @include on-desktop {
      width: 194px;
      height: 42px;
    }
  }

  &__menu {
    @include on-mobile {
      display: block;
    }

    @include on-desktop {
      display: none;
    }
  }
}


